@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Anonymous+Pro:ital,wght@0,700;1,700&family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
}