@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Anonymous+Pro:ital,wght@0,700;1,700&family=Merriweather+Sans&display=swap');
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.logo{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #EF8509;
    cursor: pointer;
}

.links ul{
    display: flex;
    list-style: none;
    font-family: 'ABeeZee';
}

.links ul li a{
    text-decoration: none;
    margin: 15px;
    font-size: 14px;
    color: black;
    padding: 10px;
}

.links ul li a:hover,.active{
    background-color: rgba(239, 93, 9, 0.5);
    padding: 10px;
    border-radius: 10px;
}