{% extends "base.html" %}
{% block signin %}
    <link rel="stylesheet" href="../static/form.css">
    <div class="container">
        <div class="right">
            <img src="../static/assets/hostel.png" alt="pic">
        </div>
        <div class="left">
            <h3><span>Hola!</span> Hostelers</h3>
            <form action="{{url_for('login')}}" method="POST">
                <label>Email</label>
                <input type="email" name="email" id="input">
                <label>Password</label>
                <input type="password" name="password" id="input">
                <button class="btn">Sign In</button>
            </form>
        </div>
    </div>
{% endblock %}