{% extends "base.html" %}
{% block signin %}
    <link rel="stylesheet" href="../static/form.css">
    <div class="container">
        <div class="right">
            <video src="../static/hostel.mp4">video</video>
        </div>
        <div class="left">
            <h3><span>Hola!</span> Hostelers</h3>
            <form action="" method="POST">
                <label>Name</label>
                <input type="email" name="email" id="input">
                <label>Student ID</label>
                <input type="password" name="password" id="input">
                <label>Email</label>
                <input type="email" name="email" id="input">
                <label>Password</label>
                <input type="password" name="password" id="input">
                <button class="btn">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}